*{
    box-sizing: border-box;
}

body {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
}
h3 {
    color: darkorchid;
}
.cr7 {
    overflow: hidden;
    background-color:whitesmoke;
    padding: 10px;
}


.cr7 a{
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5rem;
    text-decoration: none;
}



.cr7 .search-container{
    float: right;

}

form{
    background-color:black;
    width: 300px;
    height: 40px;
    border-radius: 11px;
    display: flex;
    align-items: center;
}
input{
    all: unset;
    font: optional;
    color:white;
    height: 100%;
    width:100%;
    padding: 5px 9px;
}

.thumbnail {
    height: 350px;
    width: 300px;
    border-radius: 19px;
}
.column{
    float: left;
    width: 25%;
    padding: 10px;
}
.card{
    border-radius: 19px;
    padding: 15px;
    background-color: black;
    text-emphasis:center;
}

